
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !=/favicon.ico
RewriteCond %{HTTP_HOST} ^demo.technomegapartners.com
RewriteRule ^(.*)$ /public/index.php [L,QSA]
DirectoryIndex /public/index.php
